@model ProjetoModeloDDD.MVC.ViewModels.Acesso.PerfilUsuarioViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PerfilUsuarioViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrupoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrupoId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PerfilUsuarioId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
