@model ProjetoModeloDDD.MVC.ViewModels.Inventario.ConfiguracaoViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Configuração</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CaminhoArquivoImportacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaminhoArquivoImportacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaminhoArquivoExportacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaminhoArquivoExportacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ConfiguracaoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
