@model IEnumerable<ProjetoModeloDDD.MVC.ViewModels.ClienteViewModel>
@Styles.Render("~/Content/webgrid_style.css")

<div style="width:120%" id="grid_ajax">
    @{
        //WebGrid grid = new WebGrid<Model>(null, rowsPerPage: 2, defaultSort: "Nome");
        //var grid = new WebGrid<Product>(null, rowsPerPage: Model.PageSize,  defaultSort: "Name");
        //var grid = new WebGrid<Model>(null, rowsPerPage: 2, defaultSort: "Nome");
        var grid = new WebGrid(Model, defaultSort: "Name", rowsPerPage: 10, ajaxUpdateContainerId: "grid_ajax");

        @grid.GetHtml(
            tableStyle: "webgrid",
            fillEmptyRows: false,
            headerStyle: "webgrid-header",
            alternatingRowStyle: "webgrid-alternating-row",
            rowStyle: "webgrid-row-style",
            footerStyle: "webgrid-footer",
            mode: WebGridPagerModes.All,
            firstText: "<< Primeiro",
            previousText: "< Anterior",
            nextText: "Próximo >",
            lastText: "Último >>",
            columns: new[] {
                grid.Column("Nome", header: "Nome", style:" width: 150px; "),
                grid.Column("Sobrenome", header: "Sobre Nome"),
                grid.Column("Email", header: "e-mail"),
                grid.Column("Ativo", header: "Ativo"),
                grid.Column("ClienteId", header: "Ação", canSort:false,
                    format: @<text>
                    @Html.Raw("   <a href='/Clientes/Details?id=" + item.ClienteId + "' > <img src='/Images/png/eye-2x.png' title='Deleta'/> </a>")
                    @Html.Raw("   <a href='/Clientes/Edit?id=" + item.ClienteId + "' > <img src='/Images/png/pencil-2x.png' title='Edita'/> </a>")
                    @Html.Raw("   <a href='/Clientes/Delete?id=" + item.ClienteId + "' > <img src='/Images/png/circle-x-2x.png' title='Deleta'/> </a>")
                    </text>
                )

            }
        )
    }
</div>